@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap");

.lato {
  font-family: "Lato", sans-serif;
}
.josefin {
  font-family: "Josefin Sans", sans-serif;
}

.Ghost-White {
  background-color: #f6f7fb;
}

.Wild-Strawberry {
  color: #fb2e86;
}
.Whisper {
  /*Whisper */
  background-color: #e5e5e5;
}
.Midnight-Blue {
  /* Midnight-Blue */
  color: #1a0b5b;
}
.Wild-Blue-Yonder {
  /* Wild-Blue-Yonder */
  color: #8a8fb9;
}

.color-white {
  color: white;
}

.color-wildBlueYonder {
  color: #8a8fb9;
}

.bg-butterCup {
  background-color: #de9034;
}

.bg-wildStrawberry {
  background-color: #ec42a2;
}

.bg-lightSlateBlue {
  background-color: #8568ff;
}

.clr2bg {
  background-color: #fb2e86;
}

.txtmin {
  font-size: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loaderIcon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

#shape1,
#shape2,
#shape3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px black;
}
